html {
  background-color: #000000;
}

.box{
    background: #000000;
    height: 400px;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
      
}

        html, body {
            height: 100%; /* ビューポート全体の高さを確保 */
            margin: 0; /* デフォルトのマージンをリセット */
              background-color: #000000; /* 背景を黒に設定 */

        }
        .container {
            display: flex;
            align-items: center; /* 縦の中央 */
            justify-content: center; /* 横の中央 */
            height: 100vh; /* ビューポートの高さに合わせる */
            background-color: #000000; /* 背景色を設定（任意） */
        }
        .container img {
            max-width: 100%; /* 画像が親要素を超えないようにする */
            max-height: 100%; /* 画像が親要素を超えないようにする */
        }

.center {
  display: flex;
  justify-content: center;
}
